{% extends 'base.html' %}
			{% block content %}
			<div class="content">
				<div class="panel-header bg-warning-gradient">
					<div class="page-inner py-4">
						<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row"><h2 class="text-white pb-2 fw-bold d-inline">Transfer</h2>
							<ul class="breadcrumbs">
								<li class="nav-home">
									<a href="index.html">
										<i class="flaticon-home text-white"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="page-inner mt--5">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<form class="">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="text-muted" for="">Receiver Card Number</label>
													<input type="" class="form-control" id="" placeholder="">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="text-muted" for="">Sender Card Number</label>
													<input type="" class="form-control" id="" placeholder="">
												</div>
											</div>

										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="text-muted" for="">Expiry Date</label>
													<input type="date" class="form-control" id="" placeholder="">
												</div>
												
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="text-muted" for="">Amount</label>
													<input type="number" class="form-control" id="" placeholder="">
												</div>
												
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="text-muted" for="">iPIN</label>
													<input type="" class="form-control" id="" placeholder="">
			
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="col-md-12">
												<button class="btn btn-warning">Submit</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endblock content %}
			