<div class="row mt--2">
    <div class="page-header mt-4 col-md-12">
        <h4 class="page-title text-muted">Last Transactions</h4>
    </div>
    <div class="col-md-4">
        <a class="card" href="#">
            <div class="card-body">									
                <div class="d-flex">
                    <div class="flex-1 pt-1 ml-2">
                        <div class="avatar">
                            <img src="../assets/img/undraw_profile_pic_ic5t(1).svg" alt="..." class="avatar-img rounded">
                        </div>
                        <span class="ml-2 mr-2 fw-bold text-muted">Mohammed Abdalkareem</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a class="card" href="#">
            <div class="card-body">									
                <div class="d-flex">
                    <div class="flex-1 pt-1 ml-2">
                        <div class="avatar">
                            <img src="../assets/img/undraw_profile_pic_ic5t(1).svg" alt="..." class="avatar-img rounded">
                        </div>
                        <span class="ml-2 mr-2 fw-bold text-muted">Mohammed Abdalkareem</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a class="card" href="#">
            <div class="card-body">									
                <div class="d-flex">
                    <div class="flex-1 pt-1 ml-2">
                        <div class="avatar">
                            <img src="../assets/img/undraw_profile_pic_ic5t(1).svg" alt="..." class="avatar-img rounded">
                        </div>
                        <span class="ml-2 mr-2 fw-bold text-muted">Mohammed Abdalkareem</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
